[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User={{ webapp_user }}
Group={{ webapp_user }}
WorkingDirectory={{ webapp_dir }}
ExecStart={{ virtualenv_dir }}/bin/gunicorn                 \
        --pid /run/gunicorn/pid                             \
        --bind=127.0.0.1:5000                               \
        app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
