[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User={{ webapp_user }}
Group={{ webapp_user }}
WorkingDirectory={{ webapp_dir }}
ExecStart={{ virtualenv_dir }}/bin/gunicorn                 \
        --workers 3                                         \
        --pid /run/gunicorn/pid                             \
        --bind unix:/run/gunicorn/socket                    \
        app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
